* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  background-color: #afabab;
}

body {
  background-image: url(futuretech.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  opacity: 0.8;
}

p {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color .1s;
  text-shadow: 1px 1px #ffffff;
}

a:hover {
  color: #ffffff;
  text-shadow: 3px 3px #000000;
}

button {
  background-color: #ffffff;
  border: 0;
  padding: 1%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #ffffff;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #ffffff;
}

header h1 {
  font-size: 3em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.delete-post-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.delete-post-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #ffffff;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #000000;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

#comment-body {
  opacity: 80%;
}

.submit-btn {
  color: rgb(0, 0, 0);
}

.upvote-btn {
  color: rgb(0, 0, 0);
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 1px solid #ffffff;
  text-align: center;
}

.post {
  margin: auto;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ffffff;
  border-radius: 10px;
  opacity: 80%;
}